# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
*.sqlite3
*.pyo
*.pyd
*.db
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
.env.*

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Python
venv/
ENV/
env/
